.nav-folder-title,
.nav-file-title {
	/* sem isso, o texto fica mais baixo que o ícone */
	display: flex;
	align-items: center;
}

.glyphure-icon {
	--icon-size: 14px;

	margin-right: 6px !important;

	display: flex;
	align-items: center;
	justify-content: center;
}

.glyphure-rule {
	background-color: var(--setting-items-background) !important;
	border-radius: var(--setting-items-radius) !important;
	margin-bottom: var(--size-4-2); /* o mesmo que o obsidian usa em setting-item */
}

.glyphure-rule > .setting-item {
	background-color: transparent !important;
	margin-top: 0;
	margin-bottom: 0;
}