.nav-folder-title,
.nav-file-title {
	/* sem isso, o texto fica mais baixo que o ícone */
	display: flex;
	align-items: center;
}

.glyphure-icon {
	--icon-size: 14px;

	margin-right: 6px !important; /* distância do ícone pro texto */

	display: flex;
	align-items: center;
	justify-content: center;
}

.glyphure-icon svg {
	/* precisa disso pro tamanho também afetar svg custom */
	width: var(--icon-size);
	height: var(--icon-size);
}

.glyphure-highlighted {
	color: var(--color-accent);
}

.glyphure-error {
	color: var(--color-red) !important;
}

.glyphure-rule {
	background-color: var(--setting-items-background) !important;
	border-radius: var(--setting-items-radius) !important;
	margin-bottom: var(--size-4-2); /* o mesmo que o obsidian usa em setting-item */
}

.glyphure-rule > .setting-item {
	background-color: transparent !important;
	margin-top: 0;
	margin-bottom: 0;
}

.glyphure-preview {
	display: flex;
	align-items: center;
	justify-content: center;
}

.preview-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-secondary);
	/* max-width: min-content; */
	width: 100%;

	border: var(--divider-width) solid var(--divider-color);
	border-radius: var(--modal-radius);
	/* border-radius: 4px; */

	margin: 15px;
	padding: 5px;
}